:root {
    //colors
    --color-primary: #0260e8;
    --color-primary-light: #5199ff;
    --color-primary-dark: #0351c1;

    --color-gray-light-1: #f1f2f2;
    --color-gray-light-2: #e6e7e8;
    --color-gray-light-3: #d1d3d3;
    --color-gray-light-4: #bcbec0;

    --color-gray-dark-1: #414042;
    --color-gray-dark-2: #58595b;
    --color-gray-dark-3: #6d6d71;

    --color-red: #b40a1b;

    //shadows
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
}