.container {
    max-width: 120rem;
    margin: 7rem auto;
    background-color: var(--color-gray-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.content {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-gray-light-2);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 18%;
    background-color: var(--color-gray-dark-1);
}

.pet-view {
    flex: 1;
    background-color: var(--color-gray-dark-3);

    height: 100rem; //tymczasowe
}