.copyright {
    &__text {
        padding: 2rem;
        font-size: 1.2rem;
        text-align: center;
        color: var(--color-gray-light-4);

        @media only screen and (max-width: $brp-large) {
            display: none;
        }
    }
}

.gallery {
    display: flex;

    &__photo {
        display: block;
        width: 100%;
    }
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-light-2);

    @media only screen and (max-width: $brp-small) {
        justify-content: space-between;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.3rem 3rem;
        color: var(--color-primary-light);

        @media only screen and (max-width: $brp-small) {
            font-size: 1.8rem;
            padding: 1.1rem 2rem;
            letter-spacing: 0;
        }
    }

    &__stars {
        display: flex;
        margin-right: auto;

        @media only screen and (max-width: $brp-small) {
            display: none;

        }
    }

    &__icon-medal,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: .5rem;
        fill: var(--color-primary);
        transition: transform .2s;

        @media only screen and (max-width: $brp-small) {
            width: 1.3rem;
            height: 1.3rem;
            margin-right: .2rem;
        }
    }

    &__location {
        display: flex;
        vertical-align: center;
        margin-right: 2rem;
    }

    &__icon-medal:hover {
        fill: var(--color-red);
        transform: scale(1.2);
    }

    &__location:hover &__icon-location {
        transform: scale(1.5);
    }

    .btn-inline:hover &__icon-location {
        transform: scale(1.5);
    }
}


.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    &__item {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: .6rem;
        margin-left: .2rem;
        background-color: var(--color-primary-light);
        -webkit-mask-image: url(../../img/paw.svg);
        -webkit-mask-size: cover;
        mask-image: url(../../img/paw.svg);
        mask-size: cover;
        // background-image: url(../../img/paw.svg);
        // background-size: cover;
    }
}

.recommend {
    display: flex;
    font-size: 1.4rem;
    color: var(--color-gray-dark-3);
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child) {
            margin-right: -2rem;
        }
    }

}

.review {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;

    @media only screen and (max-width: $brp-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
    }


    &__text {
        position: relative;
        margin-bottom: 2rem;
        z-index: 10;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        margin-right: 1.5rem;
        border-radius: 50%;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-gray-light-4);
    }

    &__rating {
        color: var(--color-primary);
        font-size: 2.4rem;
        font-weight: 300;
    }

    &::before {
        content: "\201C";
        position: absolute;
        top: -6rem;
        left: -6rem;
        font-family: sans-serif;
        font-size: 28rem;
        line-height: 1;
        color: var(--color-gray-light-3);
        transform: rotate(21deg);
        z-index: 1;
    }
}