.btn-inline {
    display: inline-block;
    border: none;
    color: var(--color-primary-light);
    font-size: 1.4rem;
    // border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 5px;
        transition: all .3s;
    }

    &:hover {
        color: var(--color-gray-dark-1);

        span {
            display: inline-block;
            margin-left: 10px;
            transform: scale(1.5);
        }
    }

    &:active {
        transform: translateY(2px);
    }
}

.btn {
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-white);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    box-shadow: var(--shadow-dark);

    &>* {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }

    &__visible {
        padding: 2rem 8rem;
    }

    &__invisible {
        position: absolute;
        left: 0;
        top: -100%;
        padding: 2rem 0;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: var(--shadow-light);
    }
}